<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>ch11_ajax</display-name>
  <servlet>
    <description></description>
    <display-name>AjaxController1</display-name>
    <servlet-name>AjaxController1</servlet-name>
    <servlet-class>ajax01.AjaxController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxController1</servlet-name>
    <url-pattern>/ajax1.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxServletIdCheck</display-name>
    <servlet-name>AjaxServletIdCheck</servlet-name>
    <servlet-class>ajax01.AjaxidServletIdCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServletIdCheck</servlet-name>
    <url-pattern>/idCheck.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxServletController3</display-name>
    <servlet-name>AjaxServletController3</servlet-name>
    <servlet-class>ajax01.AjaxServletController3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServletController3</servlet-name>
    <url-pattern>/ajax3.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxServletContoller4</display-name>
    <servlet-name>AjaxServletContoller4</servlet-name>
    <servlet-class>ajax01.AjaxServletContoller4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServletContoller4</servlet-name>
    <url-pattern>/ajax4.do</url-pattern>
  </servlet-mapping>
</web-app>